@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--no-padding-bottom {
  padding-bottom: 0;
}

.section--big-padding-bottom {
  padding-bottom: 115px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .section--no-padding-top {
    padding-top: 0;
  }
  .section--no-padding-bottom {
    padding-bottom: 0;
  }
  .section--big-padding-bottom {
    padding-bottom: 165px;
  }
}

/* ===========  BURGER ========= */
.navbar {
  font-family: var(--main-font);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  background: var(--menu-background);
  right: -100%;
  -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 30;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 50;
}

.burger-line {
  width: 100%;
  height: 1px;
  background-color: red;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.hamburger-menu--opened .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-4px, 4px);
          transform: rotateZ(-405deg) translate(-4px, 4px);
  background-color: var(--white-color);
}

.hamburger-menu--opened .line-2 {
  opacity: 0;
}

.hamburger-menu--opened .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-5px, -5px);
          transform: rotateZ(405deg) translate(-5px, -5px);
  background-color: var(--white-color);
}

/* ===========  BURGER END ========= */
/* ===========  HEADER ========= */
.header__logo {
  margin-top: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.navigation__button-hidden {
  display: none;
}

.navigation__item {
  margin-bottom: 23px;
  margin-left: 21px;
  font-weight: 700;
}

.navigation__button-div {
  padding-right: 20px;
  padding-left: 21px;
  padding-top: 60px;
  padding-bottom: 32px;
  position: relative;
}

.navigation__button {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 22px;
  padding-left: 60px;
  padding-right: 55px;
  padding-top: 14px;
  padding-bottom: 14px;
  white-space: nowrap;
}

.navigation__button::after {
  content: '';
  border: 1px solid var(--mobile-menu-border);
  width: 250px;
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.navigation__button-icon-red {
  width: 10px;
  height: 10px;
  fill: red;
  margin-left: 15px;
}

.navigation__button:hover {
  background-color: var(--btn-color);
}

.navigation .navigation__link {
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.navigation .navigation__link:hover, .navigation .navigation__link:focus {
  color: var(--secondary-color);
}

.navigation .navigation__link::after {
  content: '';
  border: 1px solid var(--mobile-menu-border);
  width: 250px;
  position: absolute;
  left: -20px;
  top: 30px;
}

/* ===========  HEADER END ========= */
/* ===========  HERO ========= */
.hero {
  position: relative;
  z-index: 0;
}

.hero__header {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 137px;
  padding-right: 62px;
}

.hero__header--dark {
  color: var(--secondary-color);
  line-height: 50px;
  font-size: 48px;
}

.hero__picture {
  cursor: pointer;
}

.hero__btn {
  margin-top: 19px;
  margin-bottom: 154px;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--btn-color);
}

.hero__btn--dark {
  margin-right: 8px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.hero__btn--dark:hover {
  background-color: var(--dots-color);
}

.hero__link {
  text-decoration: none;
  color: inherit;
}

.hero__img {
  position: absolute;
  top: 36px;
  right: 12px;
  z-index: -1;
}

.hero__circle {
  position: absolute;
  top: 27px;
  left: 16px;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: var(--time-table-color);
  z-index: -2;
}

.hero__img-milk {
  display: none;
}

.hero__img-tasty {
  display: none;
}

.hero__description {
  display: none;
}

.hero__offer {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    width: 254px;
  }
  .header__logo {
    margin-top: 0px;
  }
  .navigation__button-hidden {
    display: initial;
  }
  .hamburger-menu {
    right: 224px;
    top: 54px;
  }
  .navigation__button-icon-red {
    width: 10px;
    height: 10px;
    fill: red;
    margin-left: 15px;
  }
  .navigation__button-tablet {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: var(--secondary-color);
    background-color: var(--white-color);
    border: none;
    border-radius: 22px;
    padding-left: 37px;
    padding-right: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 34px;
    top: 38px;
  }
  .hamburger-menu--opened .line-1 {
    -webkit-transform: rotateZ(-405deg) translate(-4px, 4px) translateY(110px) translateX(165px);
            transform: rotateZ(-405deg) translate(-4px, 4px) translateY(110px) translateX(165px);
    background-color: var(--white-color);
  }
  .hamburger-menu--opened .line-3 {
    -webkit-transform: rotateZ(405deg) translate(-5px, -5px) translateY(-165px) translateX(110px);
            transform: rotateZ(405deg) translate(-5px, -5px) translateY(-165px) translateX(110px);
    background-color: var(--white-color);
  }
  .hero {
    position: relative;
    z-index: 0;
  }
  .hero__header {
    font-size: 22px;
    line-height: 1.136;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 15px;
    padding-right: 0px;
    max-width: 162px;
  }
  .hero__header--dark {
    color: var(--secondary-color);
    line-height: 30px;
    font-size: 35px;
  }
  .hero__btn {
    margin-top: 17px;
    margin-bottom: 0;
  }
  .hero__btn--dark {
    margin-right: 8px;
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
  .hero__btn--dark:hover {
    background-color: var(--dots-color);
  }
  .hero__img {
    position: absolute;
    top: -24px;
    right: 213px;
  }
  .hero__circle {
    position: absolute;
    top: -56px;
    left: 273px;
    width: 324px;
    height: 322px;
  }
  .hero__img-milk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 19px;
    padding-bottom: 23px;
  }
  .hero__img-tasty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .hero__description {
    display: block;
    position: absolute;
    left: 120px;
    bottom: 34px;
    font-family: var(--main-font);
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-color);
    max-width: 114px;
  }
  .hero__img-arrow-right {
    margin-top: 7px;
  }
  .hero__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    top: 9px;
  }
  .offer__number {
    font-family: var(--secondary-font);
    font-size: 28px;
    line-height: 1.142;
    color: var(--secondary-color);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
  }
  .offer__number::before {
    position: absolute;
    content: '';
    top: 0px;
    right: -35px;
    width: 100%;
    height: 100%;
    background-image: url("../images/Hero_Header/white-dot-tablet.png");
    background-repeat: no-repeat;
    z-index: -1;
  }
  .offer__description {
    font-family: var(--main-font);
    font-size: 8px;
    line-height: 1.25;
    color: var(--white-color);
    text-align: right;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger-menu {
    display: none;
  }
  .navbar {
    position: initial;
    background-color: var(--first-background-color);
    width: 0px;
  }
  .header__logo {
    margin: 37px 110px 84px 46px;
  }
  .navigation .navigation__link::after {
    content: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation__button::after {
    display: none;
  }
  .navigation__button-div {
    padding-top: 38px;
    left: 600px;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 541px;
    padding-left: 0;
    position: absolute;
  }
  .navigation__item {
    white-space: nowrap;
    padding-top: 50px;
    font-size: 16px;
    line-height: 21px;
  }
  .navigation__item:not(:first-child) {
    margin-left: 35px;
  }
  .hero {
    position: relative;
    z-index: 0;
    padding-left: 77px;
  }
  .hero__header {
    font-size: 38px;
    line-height: 1.157;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 38px;
    max-width: 277px;
  }
  .hero__header--dark {
    color: var(--secondary-color);
    line-height: 49px;
    font-size: 59px;
  }
  .hero__btn {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 24px;
  }
  .hero__btn--dark {
    margin-right: 8px;
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
  .hero__btn--dark:hover {
    background-color: var(--dots-color);
  }
  .hero__img {
    position: absolute;
    top: -63px;
    right: 450px;
  }
  .hero__circle {
    position: absolute;
    top: -119px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
  .hero__img-milk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 51px;
    padding-bottom: 40px;
  }
  .hero__img-tasty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 109px;
    bottom: 0px;
  }
  .hero__description {
    display: block;
    position: absolute;
    left: 295px;
    bottom: 51px;
    font-size: 14px;
    line-height: 1.428;
    color: var(--white-color);
    max-width: 200px;
  }
  .hero__img-arrow-right {
    margin-top: 20px;
  }
  .hero__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 97px;
    top: 9px;
  }
  .offer__number {
    font-family: var(--secondary-font);
    font-size: 46px;
    line-height: 1.152;
    color: var(--secondary-color);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
  }
  .offer__number::before {
    position: absolute;
    content: '';
    top: -4px;
    right: -60px;
    width: 100%;
    height: 100%;
    background-image: url("../images/Hero_Header/white-dot-desktop.png");
    background-repeat: no-repeat;
    z-index: -1;
  }
  .offer__description {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.25;
    color: var(--white-color);
    text-align: right;
    margin-bottom: 18px;
  }
  .buttons {
    margin-left: 30px;
  }
}

.product {
  height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 119px;
}

.product__card {
  width: 335px;
  height: 600px;
  padding: 65px;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  border: none;
  /* margin-bottom: 70px; */
}

.product__card-txt {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: "DM Sans";
  color: #ffffff;
  line-height: 28.16px;
}

.product__card-title {
  font-size: 30px;
  font-family: "Titan One";
  text-transform: uppercase;
  color: #ffffff;
}

.pink {
  background-color: #ffb8ca;
}

.brown {
  background-color: #f0d1a5;
}

.green {
  background-color: #c2e297;
}

.svg-circle {
  fill: #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}

.circles {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.svg-arrow {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 12px;
  fill: #d41443;
}

.product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Titan One";
  text-transform: uppercase;
  margin-top: 40px;
}

.product__title-span1 {
  color: #ffa5ba;
  font-size: 30px;
  margin-bottom: 15px;
}

.product__title-span2 {
  font-size: 58px;
  color: #d41443;
}

.product__img {
  position: absolute;
  bottom: 500px;
}

.section__gallery {
  margin-bottom: 50px;
  padding: 0px;
  height: 122px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #ffffff), color-stop(60%, #FFF5F6), to(#fff5f6));
  background-image: linear-gradient(to top, #ffffff 60%, #FFF5F6 60%, #fff5f6);
}

.section__gallery_img {
  height: 122px;
  width: 100%;
  background: url("../images/gallery/gallery-mobile.png") no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .section__gallery {
    height: 264px;
  }
  .section__gallery_img {
    height: 264px;
    background-image: url("../images/gallery/gallery-tablet.png");
  }
}

@media screen and (min-width: 1280px) {
  .section__gallery {
    height: 430px;
  }
  .section__gallery_img {
    height: 430px;
    background-image: url("../images/gallery/gallery-desktop.png");
  }
}

.reviews_entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.reviews__image {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .reviews__image {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__image {
    margin-bottom: 15px;
  }
}

.reviews__card {
  position: relative;
  background-color: #fafafa;
  padding: 45px 50px 20px 50px;
  margin-bottom: 30px;
}

.reviews__card::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 54px;
  height: 40px;
  top: 28px;
  left: 61px;
  background: url("../images/customer-review/quotes.svg");
  z-index: 33;
}

@media screen and (min-width: 768px) {
  .reviews__card::before {
    top: 30px;
    left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__card::before {
    top: 32px;
    left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .reviews__card {
    max-width: 620px;
    padding: 45px 35px 30px 60px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__card {
    max-width: 926px;
    padding: 45px 55px 30px 60px;
  }
}

.reviews__text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  padding: 0 15px;
  z-index: 44;
  background: repeating-linear-gradient(transparent, transparent 29px, #e1e1e1 29px, #e1e1e1 30px);
}

@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background: repeating-linear-gradient(transparent, transparent 28px, #e1e1e1 28px, #e1e1e1 29px);
  }
}

@media screen and (min-width: 1280px) {
  .reviews__text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 30px;
  }
}

.reviews__dot {
  position: relative;
  width: 4px;
  height: 4px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #d41443;
}

.reviews__dot::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  left: -14px;
  background-color: #d41443;
}

.reviews__dot::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  right: -14px;
  background-color: #d41443;
}

@media screen and (min-width: 768px) {
  .reviews__dot {
    margin-bottom: 15px;
  }
}

.reviews__name {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

@media screen and (min-width: 768px) {
  .reviews__name {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__name {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.slick-dots {
  margin: 0;
  padding: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../images/customer-review/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.background-contact {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(255, 255, 255, 0.01)), color-stop(5%, #fff5f6));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 5%, #fff5f6 5%);
}

@media screen and (min-width: 768px) {
  .background-contact {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(255, 255, 255, 0.01)), color-stop(14%, #fff5f6));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, #fff5f6 14%);
  }
}

@media screen and (min-width: 1280px) {
  .background-contact {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/contacts/contacts-bg.png), -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(255, 255, 255, 0.01)), color-stop(14%, #fff5f6));
    background-image: url(../images/contacts/contacts-bg.png), linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, #fff5f6 14%);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .background-contact {
    background-image: url(../images/contacts/contacts-bg-2x.png), -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(255, 255, 255, 0.01)), color-stop(14%, #fff5f6));
    background-image: url(../images/contacts/contacts-bg-2x.png), linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, #fff5f6 14%);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    margin-top: -30px;
    margin-left: -30px;
    margin-bottom: 85px;
  }
}

.contact-card {
  width: 220px;
  background-color: white;
  padding: 43px 20px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-card:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact-card {
    margin-top: 20px;
    margin-left: 20px;
    padding: 50px 31px;
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
  }
  .contact-card:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contact-card {
    width: 330px;
    padding: 51px 44px;
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.contact-card:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(85, 85, 85, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(85, 85, 85, 0.3);
}

@media screen and (min-width: 768px) {
  .contact-card:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.contact-part:not(:last-child) {
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contact-part:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-part:not(:last-child) {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.category {
  background-color: #f0d1a5;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .category {
    width: 73px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.category-foodtruck {
  background-color: #c2e297;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .category-foodtruck {
    width: 138px;
  }
}

.city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .city {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .city {
    font-size: 16px;
  }
}

.city-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .city-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .city-text {
    font-size: 16px;
    line-height: 1.83;
  }
}

.working {
  margin-bottom: 25px;
}

.working-days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

@media screen and (min-width: 768px) {
  .working-days {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .working-days {
    font-size: 16px;
  }
}

.working-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .working-time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .working-time {
    font-size: 16px;
  }
}

.working-time--margin {
  margin-bottom: 20px;
}

.contact-data .link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-data .link:hover, .contact-data .link:focus {
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .contact-data .link {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1280px) {
  .contact-data .link {
    font-size: 16px;
  }
}

.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts__btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts__btn:first-child {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts__btn:first-child {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.contacts__btn-locations {
  color: #ffffff;
  fill: #ffffff;
  background-color: #d41443;
  padding: 12px 17px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__btn-locations:hover, .contacts__btn-locations:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 768px) {
  .contacts__btn-locations {
    padding: 12px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn-locations {
    padding: 12px 36px;
  }
}

.contacts__btn-franchise {
  color: #d41443;
  background-color: #ffffff;
  padding: 12px 33px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__btn-franchise:hover, .contacts__btn-franchise:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts__btn-franchise {
    padding: 12px 38px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn-franchise {
    padding: 12px 40px;
  }
}

.btn-icon {
  margin-top: 2px;
  margin-left: 12px;
}

footer {
  background-color: #fff5f6;
  height: 212px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Titan One";
  text-transform: uppercase;
}

.footer__title-span1 {
  color: #ffa5ba;
  font-size: 30px;
  margin-bottom: 15px;
}

.footer__title-span2 {
  font-size: 58px;
  color: #d41443;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  border: 1px solid #e1e1e1;
}

.copyright__txt {
  color: #907e82;
  font-size: 14px;
  font-weight: 700;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.foot-svg {
  margin: 10px;
  background-color: #ffa5ba;
  border: none;
  border-radius: 50%;
  padding: 4px;
}

.foot-svg:hover {
  background-color: #d41443;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-link {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
}

.tel {
  color: #d41443;
}

.telegram-icon-position {
  padding-right: 10%;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */