@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--no-padding-bottom {
  padding-bottom: 0;
}

.section--big-padding-bottom {
  padding-bottom: 115px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .section--no-padding-top {
    padding-top: 0;
  }
  .section--no-padding-bottom {
    padding-bottom: 0;
  }
  .section--big-padding-bottom {
    padding-bottom: 165px;
  }
}

.section__about {
  background-color: #fff5f6;
  background-image: url("../images/about/about-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 80%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__about {
    background-image: url("../images/about/about-bg-mobile@2x.png");
  }
}

.section__about .about__header {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: "Titan One";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.section__about .about__label {
  width: 240px;
  height: 21px;
  font-size: 18px;
  line-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #FFA5BA;
}

.section__about .about__title {
  width: 250px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 26px;
  line-height: 100%;
}

.section__about .about__img {
  width: 280px;
  height: 280px;
  background-image: url("../images/about/cow-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__about .about__img {
    background-image: url("../images/about/cow-mobile@2x.png");
  }
}

.section__about .about__text {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  line-height: 1.62em;
  font-family: 'Dm Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

.section__about .about__text_first-paragraph {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 47px;
  width: 220px;
  height: 80px;
}

.section__about .about__text_second-paragraph {
  margin-right: auto;
  margin-left: auto;
  width: 220px;
  height: 155px;
  color: #907e82;
  margin-bottom: 34px;
}

.section__about .btn-about {
  display: block;
  width: 176px;
  height: 44px;
  color: #d41443;
  border-radius: 22px;
  font-weight: 700;
  border: none;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.section__about .btn-about:hover, .section__about .btn-about:focus {
  background-color: #ecebeb;
}

.section__about .description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  width: 220px;
}

@media screen and (min-width: 1280px) {
  .section__about .description {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    width: 463px;
    font-weight: 500px;
  }
}

@media screen and (min-width: 768px) {
  .section__about .description {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 32px;
    width: 340px;
  }
}

.section__about .description-second {
  font-size: 14px;
  color: #907e82;
}

.section__about .about__content-img {
  position: absolute;
  height: 500px;
  width: auto;
  background-image: url("../images/about/about-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */