$accent-color: #d41443;
$accent-color-secondary: #ffa5ba;
$text-black: #000000;
$text-black-secondary: #907e82;
$white-color: #ffffff;
$hero-background: #ffb8ca;
$sections-background: #fff5f6;
$button-hover-color: #ecebeb;
$pink-color: #ffb8ca;
$yellow-color: #f0d1a5;
$green-color: #c2e297;
$review-background: #fafafa;
$review-pseudo-elements: #e1e1e1;
$review-switch: #d9d9d9;
$icon-hover-color: #fea5bb;
$mobile-menu-color: #e17992;