<!-- Sekcja About -->
<section class="about">
    <div class="container">
        <div class="about__title">
            <p class="about__title-subtitle">Tradition and love</p>
            <h2 class="about__title-title">How it's made?</h2>
        </div>
        
        <div class="about__content">
            <div class="about__content-img">
                <!-- <picture>
                    <img src="/src/images/about/about-img1.png" alt="cow-and-milk" width="516" height="516">
                    <source srcset="/src/images/about/about-img1-tablet.png" media="(min-width: 768" type="image" width="340" height="340">
                    <source srcset="/src/images/about/about-img1-mobile.png" media="(min-width: 480)" width="280" height="280">

                </picture> -->
                
            </div>
            <div class="about__description">
                <p class="description ">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class=" description description-second">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. 
                <p class="description description-second">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
               
                <button class="btn-about" type="button">Read more ></button>
            </div>
        </div>
    </div>
       
</section>
