<!-- Sekcja Advantages -->

<section class="advantages">
    <div class="container">
        <title class="visually-hidden">Advantages</title>
        <ul class="advantages__list">
        <li>
            <img class="advantages__img" src="./images/advantages/advantages-icon1.png" alt="icon1">
            <p class="advantages__number">721</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <img class="advantages__img" src="./images/advantages/advantages-icon2.png" alt="icon2">
            <p class="advantages__number">16kg</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <img class="advantages__img" src="./images/advantages/advantages-icon3.png" alt="icon3">
            <p class="advantages__number">84</p>
            <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
    
</section>