<section class="section background-contact section--no-padding-top section--big-padding-bottom" id="contact-anchor">
    <div class="container">
        <h2 class="hidden">Contacts</h2>
        <ul class="contact list">
            <li class="contact-card">
                <p class="category">CAFE</p>
                <div class="contact-part">
                    <p class="city">Chicago</p>
                    <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="contact-part working list">
                    <li class="working-time">
                        <p class="working-days">Monday - Friday</p>
                        <p class="working-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="working-days">Saturday - Sunday</p>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contact-part contact-data list">
                    <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
                </ul>
            </li>

            <li class="contact-card">
                <p class="category category-foodtruck">FOODTRUCK</p>
                <div class="contact-part">
                    <p class="city">Los Angeles</p>
                    <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="contact-part working list">
                    <li class="working-time">
                        <p class="working-days">Monday - Friday</p>
                        <p class="working-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="working-days">Saturday - Sunday</p>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contact-part contact-data list">
                    <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
                </ul>
            </li>

            <li class="contact-card">
                <p class="category">CAFE</p>
                <div class="contact-part">
                    <p class="city">New York</p>
                    <p class="city-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>

                <ul class="contact-part working list">
                    <li class="working-time">
                        <p class="working-days">Monday - Friday</p>
                        <p class="working-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="working-days">Saturday - Sunday</p>
                        <p class="working-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contact-part contact-data list">
                    <li><a href="tel:+61(0)383766284" class="link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a></li>
                </ul>
            </li>
        </ul>

        <div class="contacts__buttons">
            <button class="contacts__btn contacts__btn-locations" type="button">
        Our Locations
        <svg class="btn-icon" width="7" height="10">
          <use href="./images/contacts/arrows.svg#icon-vector-white"></use>
        </svg>
      </button>

            <button class="contacts__btn contacts__btn-franchise" type="button">
        Franchise
        <svg class="btn-icon" width="7" height="10">
          <use href="./images/contacts/arrows.svg#icon-vector"></use>
        </svg>
      </button>
        </div>
    </div>
</section>