<section class="section">
    <div class="container">
        <div class="reviews">
            <article class="reviews_entry">
                <picture>
                    <source srcset="
                ./images/customer-review/customer1.png    1x,
                ./images/customer-review/customer1-2x.png 2x
              " />
                    <img src="./images/customer-review/customer1.png" class="reviews__image img" alt="reviewer-1" />
                </picture>
                <div class="reviews__card">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="reviews__dot"></div>
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </article>
            <article class="reviews_entry">
                <picture>
                    <source srcset="
                ./images/customer-review/customer2.png    1x,
                ./images/customer-review/customer2-2x.png 2x
              " />
                    <img src="./images/customer-review/customer2.png" class="reviews__image img" alt="reviewer-2" />
                </picture>
                <div class="reviews__card">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="reviews__dot"></div>
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </article>
            <article class="reviews_entry">
                <picture>
                    <source srcset="
                ./images/customer-review/customer3.png    1x,
                ./images/customer-review/customer3-2x.png 2x
              " />
                    <img src="./images/customer-review/customer3.png" class="reviews__image img" alt="reviewer-3" />
                </picture>
                <div class="reviews__card">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="reviews__dot"></div>
                <h3 class="reviews__name">Emily, Los Angeles</h3>
            </article>
        </div>
    </div>
</section>