<footer class="footer">
  <div class="container container--footer">
    <div class="footer__title">
      <span class="footer__title-span1">homemade ice cream made</span>
      <span class="footer__title-span2">with passion</span>
    </div>

    <div class="footer__contact">
      <div class="footer__social-media">
        <a href="#" class="social-media__icon link">
          <svg class="foot-svg" width="34px" height="34px">
            <use href="./images/footer/MySvg.svg#icon-github"></use>
          </svg>
        </a>

        <a href="#" class="social-media__icon link">
          <svg class="foot-svg telegram-icon-position" width="34px" height="34px">
            <use href="./images/footer/MySvg.svg#icon-telegram"></use>
          </svg>
        </a>

        <a href="#" class="social-media__icon link">
          <svg class="foot-svg" width="34px" height="34px">
            <use href="./images/footer/MySvg.svg#icon-facebook"></use>
          </svg>
        </a>
      </div>
      <div class="footer__contact-link">
        Feel free to contact
        <a href="0383766284" class="tel link">(0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright__txt">
      Feel free to contact +61 (0) 383 766 284 &copy 2019 - IceCream. All Rights Reserved.
    </div>
  </div>
</footer>
