<section class="product container">
  <div class="product__title">
    <span class="product__title-span1">100% natural</span>
    <span class="product__title-span2">products</span>
  </div>
  <div class="products-container">
    <div class="product__card pink">
      <img class="product__img" src="\images\products\home-pic1.png" alt="ice cream" />
      <p class="product__card-title">ice cream</p>
      <div class="circles">
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
      </div>
      <p class="product__card-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <svg class="svg-arrow" width="40px" height="40px">
        <use href="./images/products/MySvg.svg#icon-arrow-right"></use>
      </svg>
    </div>

    <div class="product__card brown">
      <img class="product__img" src="\images\products\home-pic2.png" alt="ice coffe" />
      <p class="product__card-title">ice coffe</p>
      <div class="circles">
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
      </div>
      <p class="product__card-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <svg class="svg-arrow" width="40px" height="40px">
        <use href="./images/products/MySvg.svg#icon-arrow-right"></use>
      </svg>
    </div>

    <div class="product__card green">
      <img class="product__img" src="\images\products\home-pic3.png" alt="milkshakes" />
      <p class="product__card-title">milkshakes</p>
      <div class="circles">
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
        <svg class="svg-circle" width="6px" height="6px">
          <use href="./images/products/MySvg.svg#icon-circle"></use>
        </svg>
      </div>
      <p class="product__card-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <svg class="svg-arrow" width="40px" height="40px">
        <use href="./images/products/MySvg.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
