//Contact cards
.background-contact {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 5%, rgba(255, 245, 246, 1) 5%);
    @media screen and (min-width: $tablet) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, rgba(255, 245, 246, 1) 14%);
    }
    @media screen and (min-width: $desktop) {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/contacts/contacts-bg.png), linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, rgba(255, 245, 246, 1) 14%);
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/contacts/contacts-bg-2x.png), linear-gradient(180deg, rgba(255, 255, 255, 0.01) 14%, rgba(255, 245, 246, 1) 14%);
        }
    }
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
        margin-left: -20px;
        justify-content: center;
        margin-bottom: 80px;
    }
    @media screen and (min-width: $desktop) {
        margin-top: -30px;
        margin-left: -30px;
        margin-bottom: 85px;
    }
}

.contact-card {
    width: 220px;
    background-color: rgba(255, 255, 255, 1);
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: $tablet) {
        margin-top: 20px;
        margin-left: 20px;
        padding: 50px 31px;
        flex-basis: calc(100% / 3 - 20px);
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: $desktop) {
        width: 330px;
        padding: 51px 44px;
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 3 - 30px);
    }
    &:hover {
        box-shadow: 0px 5px 15px 0px rgba(85, 85, 85, 0.3);
        @media screen and (min-width: 768px) {
            transform: scale(1.02);
        }
    }
}

.contact-part:not(:last-child) {
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    padding-bottom: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: $tablet) {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
}

.category {
    background-color: #f0d1a5;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
    @media screen and (min-width: $tablet) {
        width: 73px;
        font-size: 16px;
        line-height: 1.86;
    }
    @media screen and (min-width: $desktop) {}
    &-foodtruck {
        background-color: #c2e297;
        width: 130px;
        @media screen and (min-width: $tablet) {
            width: 138px;
        }
    }
}

.city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
    &-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: #907e82;
        @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 16px;
            line-height: 1.83;
        }
    }
}

.working {
    margin-bottom: 25px;
    &-days {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
    }
    &-time {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.86;
        color: #ffa5ba;
        @media screen and (min-width: $tablet) {
            font-size: 14px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 16px;
        }
    }
    &-time--margin {
        margin-bottom: 20px;
    }
}

.contact-data .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;
    }
    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.83;
    }
    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

//Buttons
.contacts__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: center;
    }
}

.contacts__btn {
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    &:first-child {
        margin-bottom: 10px;
    }
    @media screen and (min-width: $tablet) {
        &:first-child {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
}

.contacts__btn-locations {
    color: $white-color;
    fill: $white-color;
    background-color: $accent-color;
    padding: 12px 17px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #c7133e;
    }
    @media screen and (min-width: $tablet) {
        padding: 12px 30px;
    }
    @media screen and (min-width: $desktop) {
        padding: 12px 36px;
    }
}

.contacts__btn-franchise {
    color: $accent-color;
    background-color: $white-color;
    padding: 12px 33px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $button-hover-color;
    }
    @media screen and (min-width: $tablet) {
        padding: 12px 38px;
    }
    @media screen and (min-width: $desktop) {
        padding: 12px 40px;
    }
}

.btn-icon {
    margin-top: 2px;
    margin-left: 12px;
}