.section__gallery {
    margin-bottom: 50px;
    padding: 0px;
    height: 122px;
    background-image: linear-gradient(
        to top,
        #ffffff 60%,
        #FFF5F6 60%,
        #fff5f6
    );
}

.section__gallery_img {
    height: 122px;
    width: 100%;
    
    background: url("../images/gallery/gallery-mobile.png") no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .section__gallery {
        height: 264px;
    }
    .section__gallery_img {
      
      height: 264px;
      background-image: url("../images/gallery/gallery-tablet.png");
      
    }
}
@media screen and (min-width: 1280px) {
    .section__gallery {
        height: 430px;
    }

    .section__gallery_img {
        
        height: 430px;
        background-image: url("../images/gallery/gallery-desktop.png");
    }
}